.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #305b63;
    -fx-control-inner-background: derive(-fx-base, 10%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.label{
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: white;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
}

.table-view{
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}

#backButton{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
}

#loadPane{
    -fx-background-color: linear-gradient(#61a2b1,#396b75);
}



#backButton:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#loadBox{
    -fx-background-radius: 0 0 15 15;
    -fx-background-insets: 0 0 2 2 ;
}

#statLabels{
    -fx-text-fill: rgba(47,79,79,1);
}

#editorButton{
    -fx-background-radius: 15 15 0 0;
    -fx-background-insets: 2 2 0 0 ;
    -fx-text-fill: white;
}

.check-box .box{
    -fx-background-color: rgba(47,79,79,0.2);
    -fx-background-radius: 20 20 20 20;
    -fx-background-insets: 4 4 4 4 ;
}
.check-box .mark {
    -fx-opacity: 0;
}
.check-box:selected .box {
    -fx-background-color: rgba(80, 80, 80,1);
}

.choice-box .context-menu {
    -fx-background-color: rgba(47,79,79,0.9);
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2;
    -fx-padding: 2 2 2 2;
}
.choice-box .menu-item:focused {
    -fx-background-color: lightgrey;
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
}
.choice-box .menu-item > .label {
    -fx-text-fill: lightgrey;
}